# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.dylib
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env
.env.*

# Model
nlp_model/

# IDEs
.vscode/
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Coverage
.coverage
*.cover
nosetests.xml
coverage.xml
*.coveragerc

# mypy
.mypy_cache/
.dmypy.json
.pyre/
